<!-- <ion-header>
  <ion-toolbar>
    <ion-title>LiveVibe</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content class="ion-padding login-container">
  <ion-card>
    <ion-card-header class="logo-container">
      <img src="assets/global/logo.jpg" alt="Logo de LiveVibe" class="logo">
    </ion-card-header>

    <ion-card>
      <ion-card-content>
        <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
          <ion-list class="mBackground-color">

            <ion-item>
              <ion-input label="Usuario" formControlName="email" type="email" required aria-label="Ingrese su usuario"></ion-input>
            </ion-item>

            <ion-item>
              <ion-input label="Contraseña" formControlName="password" type="password" required aria-label="Ingrese su contraseña"></ion-input>
            </ion-item>

            <p class="error-message" *ngIf="loginForm.invalid && (loginForm.dirty || loginForm.touched)">
              ⚠️ Completa correctamente los campos.
            </p>
          </ion-list>

          <!-- Botón de inicio de sesión -->
          <ion-button expand="block" type="submit" [disabled]="loginForm.invalid">
            Conectar
          </ion-button>

          <!-- Enlace para registrarse -->
          <div class="register-link">
            <a href="#" class="register-text">Regístrarse</a>
          </div>
        </form>
      </ion-card-content>
    </ion-card>

  </ion-card>
</ion-content>
