<ion-header>
  <ion-toolbar>
    <ion-title>Iniciar Sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
    <!-- Campo de email  y password -->
    <ion-input formControlName="email" type="email" required label="Usuario"></ion-input>
    <ion-input formControlName="password" type="password" required label="Contraseña"></ion-input>


    <!-- Mensaje de error si el formulario no es válido -->
    <div *ngIf="loginForm.invalid && (loginForm.dirty || loginForm.touched)">
      <p class="error-message">Por favor, completa correctamente los campos.</p>
    </div>

    <!-- Botón de envío -->
    <ion-button expand="full" type="submit" [disabled]="loginForm.invalid" aria-label="Enviar formulario de inicio de sesión">Conectar</ion-button>

  </form>
</ion-content>
