<ion-header>
  <ion-toolbar>
    <ion-title>Bienvenido Admin</ion-title>
  </ion-toolbar>
</ion-header>

<!-- <ion-content class="ion-padding">
  <h1>¡Has iniciado sesión correctamente!</h1>
  <p>Este es el contenido de la página de inicio.</p>
</ion-content>

<ion-header>
  <ion-toolbar>
    <ion-title>Eventos</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="onLogout()">
        <ion-icon name="log-out-outline"></ion-icon>
        Cerrar sesión
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header> -->


<ion-grid>
  <ion-row>
    <ion-col size="12" size-md="6" size-lg="4">
      <ion-card>
        <ion-card-header>
          <ion-card-title>Crear Eventos</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          work in process!
        </ion-card-content>
      </ion-card>
    </ion-col>

    <ion-col size="12" size-md="6" size-lg="4">
      <ion-card>
        <ion-card-header>
          <ion-card-title>Ver Eventos</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          work in process!
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>
<ion-header>
  <ion-toolbar>
    <ion-title>Eventos</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="onLogout()">
        <ion-icon name="log-out-outline"></ion-icon>
        Cerrar sesión
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
